/*
	[Table of contents]
	## Navigation Menu
	- Navigation Menu > 991 RES
	- Navigation Menu Switch < 991 RES
	
*/
/* ## Navigation Menu */

.ow-navigation .logo .text-logo {
	padding-top: 40px;
}

.ow-navigation {
	border: none;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 1px;
/*     padding: 30px 0; */
    width: 100%;
}
.ow-navigation .navbar-brand {	
	height: auto;
	color: #212121;
	padding-bottom: 0;
	padding-top: 0;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 0;
	margin-right: 12px;
}
.ow-navigation .navbar-brand.text-logo {	
	font-size: 26px;
	font-weight: 600;
	color: #fff;
}
.ow-navigation .nav.navbar-nav > li {
	margin: 0 22px;
}
.ow-navigation .nav.navbar-nav > li:last-child {
	margin-right: 0;
}
.ow-navigation .nav.navbar-nav li > a {
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	padding: 5px 0;
}
.ow-navigation .nav.navbar-nav > li.active > a,
.ow-navigation .nav.navbar-nav > li.active:hover > a,
.ow-navigation .nav.navbar-nav > li.active:focus > a,
.ow-navigation .nav.navbar-nav > li:hover > a,
.ow-navigation .nav.navbar-nav > li:focus > a,
.ow-navigation .nav.navbar-nav > li > a:hover,
.ow-navigation .nav.navbar-nav > li > a:focus {
	background-color: transparent;
	color: #212121;
}

.ow-navigation .dropdown-menu > li > a:hover {
	background-color: transparent;
	color: #FFC5C8;
}
/* -- Navbar Fixed */
.header-main.navbar-fixed-top.header-relative,
.header-main.navbar-fixed-top {
	position: fixed;
	background-color: #e21712;
	
}
.header-main.navbar-fixed-top .ow-navigation {
	padding: 0;
}
.header-main.navbar-fixed-top .ow-navigation .navbar-right {
	margin-right: 0;
}
.ow-navigation .navbar-header .logo-one,
.navbar-fixed-top .ow-navigation .navbar-header .logo {
	display: none;
}
.navbar-fixed-top .ow-navigation  .navbar-header .logo-one {
	display: block;
}
.navbar-fixed-top .ow-navigation .navbar-brand {
	padding: 20px 0;
}
.navbar-fixed-top .ow-navigation .nav.navbar-nav li > a:hover,
.navbar-fixed-top .ow-navigation .nav.navbar-nav li > a:focus,
.navbar-fixed-top .ow-navigation .nav.navbar-nav li.active > a,
.navbar-fixed-top .ow-navigation .nav.navbar-nav li.active:hover > a,
.navbar-fixed-top .ow-navigation .nav.navbar-nav > li:hover > a,
.navbar-fixed-top .ow-navigation .nav.navbar-nav > li:focus > a,
.ow-navigation .nav.navbar-nav li.dropdown li > a:hover,
.ow-navigation .nav.navbar-nav li.dropdown li > a:focus {
	color: #FFC5C8;
	font-weight: 600;
}
.ow-navigation .nav.navbar-nav li.dropdown li > a:hover,
.ow-navigation .nav.navbar-nav li.dropdown li > a:focus {
	background-color: transparent;
}
/* -- min-width: 992 to max-width: 1200 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.ow-navigation .nav.navbar-nav > li {
		margin: 0 9px;
	}
	.ow-navigation .nav.navbar-nav li > a {
		font-size: 13px;
	}
}
/* -- min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {	
	
}
/* - Navigation Menu > 991 RES. */
@media (min-width: 992px) {
	
	.ow-navigation  .dropdown-menu > .active > a, 
	.ow-navigation .dropdown-menu > .active > a:focus, 
	.ow-navigation .dropdown-menu > .active > a:hover {
		background-color: transparent;
		color: #fff;
	}
	
	.ow-navigation .nav.navbar-nav {
		padding: 37px 0;
	}
	.ow-navigation .nav.navbar-nav li > a {
/* 		height:60px; */
/* 		line-height: 60px; */
	}
	.ow-navigation .nav.navbar-nav > li > a:hover,
	.ow-navigation .nav.navbar-nav > li > a:focus,
	.ow-navigation .nav.navbar-nav > li.active > a,
	.ow-navigation .nav.navbar-nav > li.active:hover > a,
	.ow-navigation .nav.navbar-nav > li.active:focus > a,
	.ow-navigation .nav.navbar-nav > li:hover > a,
	.ow-navigation .nav.navbar-nav > li:focus > a {
		background-color: transparent;
		color: #e21712;
	}
	.ow-navigation .nav.navbar-nav li.dropdown:hover > .dropdown-menu {
		opacity: 1;
		transform: scaleY(1);
		visibility: visible;
	}	
	.ow-navigation .ddl-switch {
		display: none !important;
	}

	/* Dropdown */
	.ow-navigation .navbar-collapse > ul > li > .dropdown-menu {
		top: 100%;
		left: 0;
	}
	
	.ow-navigation ul li > .dropdown-menu {
		border: none;
		left: 100%;
		border-radius: 0;
		margin-top: 0;
		transform: scaleY(0);
		transform-origin: 0 0 0;
		transition: all 0.4s ease-in-out 0s;
		visibility: hidden;
		top: 0;
		box-shadow: none;
		display: block;
		padding: 0 10px;
		max-width: 250px;
		width: 100%;
		background-color: rgba(226,23,18,0.8);
	}
	.ow-navigation .dropdown-menu > li > a {
		white-space: normal;
		padding: 7px 0;
	}
	.ow-navigation .dropdown-menu > li:hover > a,
	.ow-navigation .dropdown-menu > li > a:hover {
		background-color: transparent;
		color: #e21712;
	}
	.ow-navigation ul > li > .dropdown-menu { left: 0; }
	.ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu { 	right: 0; }
	
	.ow-navigation ul > li > .dropdown-menu,
	.ow-navigation ul > li .dropdown-menu ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul	{
		right: auto;
	}	
	.ow-navigation ul > li .dropdown-menu ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
		left: 100%;
	}	
	.ow-navigation ul > li .dropdown-menu ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul {
		right: 100%;
	}	
	.ow-navigation ul > li .dropdown-menu ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul	{
		left: auto;
	}

	/* Footer Bottom */
	.footer-bottom .ow-navigation {
		padding: 0;
	}
	.footer-bottom .ow-navigation .navbar-collapse > ul > li > .dropdown-menu {
		top: auto;
		bottom: 100%;
	}
	.footer-bottom .ow-navigation .collapse {
		padding-left: 0;
	}
	.footer-bottom .ow-navigation ul li > .dropdown-menu {
		bottom: auto;
	}
	.footer-bottom .ow-navigation .nav.navbar-nav {
		padding: 0;
	}
	.footer-bottom .ow-navigation .nav.navbar-nav > li:first-of-type {
		margin-left: 0;
	}

	/* -- Navbar Fixed */
	.navbar-fixed-top .ow-navigation .nav.navbar-nav {
		padding: 0;
	}
	.navbar-fixed-top .ow-navigation .nav.navbar-nav > li > a {
		padding: 20px 0;
	}	
	.navbar-fixed-top .ow-navigation ul li > .dropdown-menu {
		background-color: rgba(226,23,18,1);
	}
}

/* - Navigation Menu Switch < 991 RES */
@media (max-width: 991px) {
	
	.ow-navigation  .dropdown-menu > .active > a, 
	.ow-navigation .dropdown-menu > .active > a:focus, 
	.ow-navigation .dropdown-menu > .active > a:hover {
		background-color: transparent;
	}

	/* Footer Bottom */
	.footer-bottom {
		border-top: 1px solid #474747;
		margin: 0;
		padding: 25px 0;
	}
	.footer-bottom .copyright p {
		line-height: 32px;
	}
	.footer-bottom .ow-navigation .navbar-toggle {
		margin: 0;
		float: left;
	}
	.footer-bottom .ow-navigation .navbar-collapse {
		padding: 0;
		margin-top: 15px;
	}
	.footer-bottom .ow-navigation .nav.navbar-nav > li.active > a,
	.footer-bottom .ow-navigation .nav.navbar-nav > li.active:hover > a,
	.footer-bottom .ow-navigation .nav.navbar-nav > li.active:focus > a,
	.footer-bottom .ow-navigation .nav.navbar-nav > li:hover > a,
	.footer-bottom .ow-navigation .nav.navbar-nav > li:focus > a,
	.footer-bottom .ow-navigation .nav.navbar-nav > li > a:hover,
	.footer-bottom .ow-navigation .nav.navbar-nav > li > a:focus {
		color: #ccc;
	}

	.footer-bottom .ow-navigation .navbar-nav li.ddl-active > a.dropdown-toggle {
		color: #e21712;
	}

	.header-main.navbar-fixed-top .ow-navigation .navbar-nav  li.ddl-active > a.dropdown-toggle {
		color: #FFC5C8;
	}
	
	.ow-navigation .navbar-nav  li.ddl-active > a.dropdown-toggle {
		color: #212121;
	}
	.header-main.navbar-fixed-top.ow-navigation .navbar-nav .dropdown-menu > li > a:focus,
	.header-main.navbar-fixed-top.ow-navigation .navbar-nav .dropdown-menu > li > a:hover {
		color: #e21712;
	}
	.ow-navigation .navbar-nav .dropdown-menu > li > a:focus,
	.ow-navigation .navbar-nav .dropdown-menu > li > a:hover {
		color: #e21712;
	}
	.ow-navigation  .navbar-nav {
		margin-top: 0;
	}
	
	.ow-navigation .navbar-header .logo,
	.navbar-fixed-top .ow-navigation .navbar-header .logo {
		display: none;
	}
	.ow-navigation .navbar-header .logo-one,
	.navbar-fixed-top .ow-navigation  .navbar-header .logo-one {
		display: block;
	}
	
	.ow-navigation {
		padding: 0;
	}
	.ow-navigation .navbar-collapse {
        border-top: none;
        box-shadow: none;
		width: 100%;
		overflow: auto !important;
		padding-bottom: 10px;
    }
	.ow-navigation .navbar-right {
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.ow-navigation .navbar-collapse.collapse { display: none!important; }
    .ow-navigation .navbar-nav { 
		float: none!important; 
		border-top: 1px solid #FFC5C8;
	}	
    .ow-navigation .navbar-header { float: none; }
	.ow-navigation .navbar-brand { 
		padding-left: 0; 
		padding-bottom: 20px;
		padding-top: 20px;
	}
    .ow-navigation .navbar-toggle {
        display: block;
		background-color: #1e1e1e;
		margin-bottom: 13px;
		margin-top: 13px;
		margin-right: 0px;
		border-radius: 0
    }
	.navbar-fixed-top .ow-navigation .navbar-toggle .icon-bar,
	.ow-navigation .navbar-toggle .icon-bar,
	.navbar-fixed-top .ow-navigation .navbar-toggle:focus,
	.navbar-fixed-top .ow-navigation .navbar-toggle:hover,
	.ow-navigation .navbar-toggle:hover {
		background-color: #fff;
	}
	.navbar-fixed-top .ow-navigation .navbar-toggle:focus .icon-bar,
	.navbar-fixed-top .ow-navigation .navbar-toggle:hover .icon-bar,
	.ow-navigation .navbar-toggle:hover .icon-bar {
		background-color: #1e1e1e;
	}   
	.ow-navigation .navbar-collapse > .nav.navbar-nav > li {
		margin: 0;
	}
    .ow-navigation .navbar-nav > li {
		display: inline-block;
		float: none;
		width: 100%;
    }
    .ow-navigation .navbar-collapse > ul > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
		width: 100%;
    }
    .ow-navigation .navbar-text {
        float: none;
        margin: 15px 0;
    }
	
	/* since 3.1.0 */
    .ow-navigation .navbar-collapse.collapse.in {  display: block!important; }
    .ow-navigation .collapsing { overflow: hidden!important; }
	.ow-navigation .dropdown-menu {
		background-color: transparent;
		border: 0 none;
		margin-top: 0;
		padding-left: 10px;
		padding-top: 0;
		position: relative;
		width: 100%;
		box-shadow: none;
	}
	
	/* Switch */
	.ow-navigation .ddl-switch {
		background-color: #1e1e1e;
		cursor: pointer;
		font-size: 18px;
		padding: 1.5px 5px;
		position: absolute;
		right: 0;
		z-index: 9999;
		top: 6px;
		color: #fff;
	}
	.ow-navigation .ddl-active > .ddl-switch:before {
		content: "\f106";
	}	
}
/* -- max-width: 767 */
@media (max-width: 767px) {
	.ow-navigation .navbar-right {
		padding-left: 15px;
		padding-right: 15px;
	}
}